#
# - Os comandos sao executados em ordem.
#
# - Se um comando falhar, somente os comandos posteriores que tem a flag
#   "force_exec" marcada serao executados.
#
# - Se um comando com a flag "abort_on_error" falhar, nenhum outro
#   comando sera executado (nem mesmo os comandos com a flag
#   "force_exec").
#
# tag: ${VOB_TAG}    (sem o "\" inicial)
# global path: ${VOB_PATH}
# ultimo diretorio do global path: ${VOB_DIR}
# host: ${VOB_HOST}
# server access path: ${VOB_SERVER_PATH}


[variables]
#cc_util_dir = C:\Program Files\IBM\RationalSDLC\ClearCase\etc\utils
ct_cmd = cleartool
cc_server_new = 100.100.101.10

[vob_commands]
cmd1 = cd /home0/vobstore && tar -xf ${VOB_DIR}.tar
cmd2 = ${ct_cmd} reformatvob -force -load /home0/vobstore/${VOB_DIR}
cmd2_ignore_error = 1
cmd3 = ${ct_cmd} reformatvob -force -load /home0/vobstore/${VOB_DIR}
cmd4 = stat -c "%U" /home0/vobstore/${VOB_DIR} > /tmp/${VOB_DIR}.txt
cmd5 = chown root /home0/vobstore/${VOB_DIR}
cmd6 = ${ct_cmd} mktag -vob -tag ${VOB_TAG} -host svrclr -gpath /net/svrclr/home0/vobstore/${VOB_DIR} /home0/vobstore/${VOB_DIR}
cmd7 = chown `cat /tmp/${VOB_DIR}.txt` /home0/vobstore/${VOB_DIR}
cmd8 = ${ct_cmd} checkvob -force -fix -setup -pool -cleartext /home0/vobstore/${VOB_DIR}

[log]
output logs/alstom2_log.txt = DEBUG, NOTICE, WARNING, ERROR, CRITICAL
